.fa-magnifying-glass {
    color: #9e9e9e;
}

.input-field input[type=text]:focus+label>#icon-magnifier {
    color: #2ca89d;
}

.input-field input[type=text]:empty:not(:focus)+label>#icon-magnifier {
    color: inherit;
}

.user-list-item.active .user-item-arrow-icon {
    transform: rotate(-180deg);
}

td,
th {
    border-radius: 0px;
}

table.highlight>tbody>tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table.highlight>tbody>tr:hover {
    background-color: #374151;
}

tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 0.375rem;

}

tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 0.375rem;
}